*{
    box-sizing: border-box;
}
header{
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    width: 100%;
}

p{
    font-size:12px; 
}

h3{
    font-size:24px;
}

.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
}
.descrip{
    font-size:  16px;
}
.burger-menu{
    width: 60px;
    background-color: #03264C;
    
    border-radius: 5px;
    text-align: center;
    margin-left: 50%;
    font-size: 50px;

    
}

footer{
    text-align: center;
}
 article{
     margin-bottom: 10px;
 }

