/*Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/
*{
    box-sizing: border-box;
    }

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    padding: 0px;
    margin: 0px;
}

header{
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    display: block;
    min-width: 360px;
    padding: 25px 10px 10px;
}



header #encabezado{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    
}
img {
    max-width: 100vw;
}

#navs{
    display:none;
}

#busqueda{
    display: flex;
    position: inherit;
    width: 50%;
    flex-grow: 1;
    padding: 3px;
}
section input{
    display: flex;
    width: 100%;
    border: 0px white solid;
    border-radius: 5px;
}

#look{
    display: flex;
    color:#ebebeb;
    background-color:white;
    position: absolute;
    right: 6.5%;
    align-self:center;
    justify-self: flex-end;
}
#imgCabecera{
    width: 50%;
}
#enCuotas{
    text-align: center;
    display: flex;
    padding-top: 5vh;
    width: 100%;
    flex-grow: 1;
}
.burger-menu{
    display: block;
    padding:6px;
    background-color: #1259c3;
    color: white; 
    width: fit-content;
    border-radius: 5px;
    margin-bottom:5px;
    margin: 0 auto;
    font-size: 25px;
    
} 

h3{
    font-size:24px;
    color: #666;
}

main{
    margin-left: auto; 
    margin-right: auto;
    width: 90vw;
}

main section{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}

main section article{
    display: flex;
    text-align: center;
    width: 90vw;
    margin-bottom: 10px;
    margin-right: 10px;
    flex-direction: column;
    
}

main section article div{
    position: relative;
    display: flex;
    flex-wrap: wrap;   
    text-align: left;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
}

.prodImg{
    display: flex;
    width: 100%;
    background-color: white;
}

.precio{
    flex-grow: 0.30;
    font-size: 18px;
    color: black;
    
}
.descuento{
    flex-grow: 0.70;
    font-size: 16px;
    color: #39b54a;
    
}
.descrip{
    font-size: 16px;
    width: 100%;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

p{
    font-size:12px;
    color: #666; 
}

.footerIcon{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

h4{
    color:#666;
}
footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section {
     width: 60vw;
     margin-bottom: 20px;
     margin-top: 20px;
 }

@media (min-width: 361px){
    #navs{
        display: block;
    }
    .burger-menu{
    display: none; 
    }
    
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: flex;
        flex-wrap: wrap;
        width: 47%;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
    
    }


@media (min-width: 769px){
    #navs{
        display: block;
    }
    .burger-menu{
    display: none; 
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 23%;
        flex-grow: 1;
    }
}
